/* ==UserStyle==
@name        Fonts Override
@namespace   Darkenetor
@author      Darkenetor
@version     0.1.2
@homepageURL https://gitlab.com/Darkenetor/userstyles-userscripts/tree/master/CSS/default_fonts
@updateURL   https://gitlab.com/Darkenetor/userstyles-userscripts/raw/master/CSS/default_fonts/style.user.css
@license     CC0-1.0
==/UserStyle== */

html :not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(thead):not(th):not(.title):not([class*="-title" i]):not(.username):not(.user):not(.name):not([class*="name" i]):not(.author):not([class*="-author" i]):not(.serif):not(pre):not(code):not(.code):not(.terminal):not(.console):not(.output):not([class*="monospace" i]):not([class*="-code" i]):not(#code_frame) {
	font-feature-settings: inherit !important;
	font-variant-alternates: inherit !important;
	font-variant-ligatures: inherit !important;
	font-variant-numeric: inherit !important;
	font-variant-east-asian: inherit !important;
	font-kerning: inherit !important;
	text-rendering: inherit !important;
	font-smooth: inherit !important;
	font-family: inherit !important;
}

html:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not(:empty),
body:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not(:empty) {
	font-feature-settings: unset !important;
	font-variant-alternates: normal !important;
	font-variant-ligatures: common-ligatures no-historical-ligatures contextual no-discretionary-ligatures !important;
	font-variant-numeric: slashed-zero oldstyle-nums tabular-nums !important;
	font-variant-east-asian: ruby simplified proportional-width !important;
	font-kerning: normal !important;
	text-rendering: optimizeLegibility!important;
	font-smooth: auto !important;
	/*text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;*/
	font-family: sans-serif !important;
}

h1:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
h2:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
h3:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
h4:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
h5:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
h6:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
thead:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
th:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
.title:not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
[class*="-title" i]:not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
.username:not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
.user:not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
[class*="name" i]:not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
.author:not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
[class*="-author" i]:not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
.serif:not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]) {
	font-feature-settings: inherit !important;
	font-variant-alternates: inherit !important;
	font-variant-ligatures: inherit !important;
	font-kerning: inherit !important;
	text-rendering: inherit !important;
	font-smooth: inherit !important;
	font-family: serif !important;
	font-variant-numeric: slashed-zero oldstyle-nums proportional-nums !important;
}

pre:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
code:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
.code:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
.terminal:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
.console:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
.output:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
[class*="monospace" i]:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
[class*="-code" i]:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]),
#code_frame:not(:empty):not(:empty):not(:empty):not(:empty):not(:empty):not([aria-hidden]):not([class*="icon" i]):not([class*="fa-"]) {
	font-feature-settings: inherit !important;
	font-variant-alternates: inherit !important;
	font-variant-ligatures: inherit !important;
	font-variant-numeric: inherit !important;
	font-kerning: inherit !important;
	text-rendering: inherit !important;
	font-smooth: inherit !important;
	font-family: monospace !important;
}
