/* ==UserStyle==
@name        Multi-Column Widescreen Facebook
@namespace   Darkenetor
@author      Darkenetor
@version     0.1.0
@homepageURL https://gitlab.com/Darkenetor/userstyles-userscripts/tree/master/CSS/facebook_multi-column
@updateURL   https://gitlab.com/Darkenetor/userstyles-userscripts/raw/master/CSS/facebook_multi-column/style.user.css
@license     CC0-1.0
==/UserStyle== */

@-moz-document url-prefix("https://www.facebookcorewwwi.onion/"), regexp("http(s)?://.*\\.facebook\\.com/(?!(v[0-9].[0-9]/)?plugins/|Fplugins|plugins/like).*")
{

	html
		{
			overflow-x: hidden !important;
		}

	#pagelet_ego_pane
	, #pagelet_rhc_footer
		{
			display: none !important;
		}

	.home #globalContainer
		{
			width: auto !important;
		}

	#contentArea
		{
			left: 0 !important;
			margin-left: 15px !important;
			width: auto !important;
		}

	#rightCol
		{
			width: 100% !important;
		}

	#contentArea > div:first-child > div:last-child div
	/*, #rightCol div.groupSkyAux.pagelet.groups_rhc*/
		{
			vertical-align: top !important;
		}

	._4ikz
	, #contentArea > div:first-child > div:last-child > div > div:last-child div._5jmm._5pat/*._3lb4.b_1qf-ezi7jp*/
	, #rightCol ._4-u2._3-96._4-u8
	, #pagelet_pinned_posts > div div._5pcb
	, #pagelet_group_ > div:last-child > div div/*._4-u2.mbm._4mrt*/._5jmm._5pat/*._5v3q._4-u8*/
		{
			display: inline-block !important;
			width: 500px !important;
			margin-right: 15px !important;
			/*background-color: red !important;*/;
		}

	#pagelet_group_ > div:last-child > div div._5pcb > div.clearfix
		{
			display: none !important;
		}

	#contentArea > div:first-child > div:last-child > div > div:last-child
	, #contentArea > div:first-child > div:last-child > div > div:last-child div._4ikz
		{
			width: calc(100vw - 180px - 15px - 15px - 15px - 205px) !important;
		}

		#rightCol div.fixed_elem
		{
			top: 0 !important;
			position: absolute !important;
		}

		#rightCol ._4-u2._3-96._4-u8
		{
			display: none !important;
		}

	#rightCol ._4-u2._3-96._4-u8:first-child
	, #rightCol /*._4-u2._3-96._4-u8:last-child*/ #GroupsRHCSuggestionSection
		{
			display: inline-block !important;
		}
}
